WebRoot/WEB-INF/services/SmsNotificationService/META-INF/ctcc_sms_notification_interface_2_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="ctcc_sms_notification_interface" targetNamespace="http://www.chinatelecom.com.cn/wsdl/ctcc/sms/notification/v2_1/interface" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ctcc_sms_xsd="http://www.chinatelecom.com.cn/schema/ctcc/sms/v2_1" xmlns:ctcc_sms_notification_local_xsd="http://www.chinatelecom.com.cn/schema/ctcc/sms/notification/v2_1/local" xmlns:ctcc_sms_notification="http://www.chinatelecom.com.cn/wsdl/ctcc/sms/notification/v2_1/interface" xmlns:ctcc_common_xsd="http://www.chinatelecom.com.cn/schema/ctcc/common/v2_1">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.chinatelecom.com.cn/schema/ctcc/sms/notification/v2_1/local" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
         <xsd:import namespace="http://www.chinatelecom.com.cn/schema/ctcc/sms/v2_1" schemaLocation="ctcc_sms_types_2_1.xsd"/>
         <xsd:import namespace="http://www.chinatelecom.com.cn/schema/ctcc/common/v2_1" schemaLocation="ctcc_common_types_2_1.xsd"/>

         <xsd:element name="notifySmsReception" type="ctcc_sms_notification_local_xsd:notifySmsReception"/>
         <xsd:complexType name="notifySmsReception">
            <xsd:sequence>
               <xsd:element name="registrationIdentifier" type="xsd:string"/>
               <xsd:element name="message" type="ctcc_sms_xsd:SmsMessage"/>
            </xsd:sequence>
         </xsd:complexType>

         <xsd:element name="notifySmsReceptionResponse" type="ctcc_sms_notification_local_xsd:notifySmsReceptionResponse"/>
         <xsd:complexType name="notifySmsReceptionResponse">
            <xsd:sequence/>
         </xsd:complexType>

         <xsd:element name="notifySmsDeliveryReceipt" type="ctcc_sms_notification_local_xsd:notifySmsDeliveryReceipt"/>
         <xsd:complexType name="notifySmsDeliveryReceipt">
            <xsd:sequence>
               <xsd:element name="correlator" type="xsd:string"/>
               <xsd:element name="deliveryStatus" type="ctcc_sms_xsd:DeliveryInformation"/>
            </xsd:sequence>
         </xsd:complexType>

         <xsd:element name="notifySmsDeliveryReceiptResponse" type="ctcc_sms_notification_local_xsd:notifySmsDeliveryReceiptResponse"/>
         <xsd:complexType name="notifySmsDeliveryReceiptResponse">
            <xsd:sequence/>
         </xsd:complexType>
      </xsd:schema>
  </types>
  <message name="SmsNotification_notifySmsReceptionRequest">
    <part name="parameters" element="ctcc_sms_notification_local_xsd:notifySmsReception">
    </part>
  </message>
  <message name="SmsNotification_notifySmsDeliveryReceiptResponse">
    <part name="result" element="ctcc_sms_notification_local_xsd:notifySmsDeliveryReceiptResponse">
    </part>
  </message>
  <message name="SmsNotification_notifySmsDeliveryReceiptRequest">
    <part name="parameters" element="ctcc_sms_notification_local_xsd:notifySmsDeliveryReceipt">
    </part>
  </message>
  <message name="SmsNotification_notifySmsReceptionResponse">
    <part name="result" element="ctcc_sms_notification_local_xsd:notifySmsReceptionResponse">
    </part>
  </message>
  <portType name="SmsNotification">
    <operation name="notifySmsReception">
      <input message="ctcc_sms_notification:SmsNotification_notifySmsReceptionRequest">
    </input>
      <output message="ctcc_sms_notification:SmsNotification_notifySmsReceptionResponse">
    </output>
    </operation>
    <operation name="notifySmsDeliveryReceipt">
      <input message="ctcc_sms_notification:SmsNotification_notifySmsDeliveryReceiptRequest">
    </input>
      <output message="ctcc_sms_notification:SmsNotification_notifySmsDeliveryReceiptResponse">
    </output>
    </operation>
  </portType>
</definitions>
